@media (max-width:500px){
    #logo{width:50vw}
    li {font-size: 0.8rem;}

    body{max-width:100vw; overflow-x: hidden;}

    .eba {width:100vw; padding:0 10vw; margin:5vh 0; display:block; padding:0}

    header ul{width:85vw; margin:0 auto; list-style:none; font-size: 0.7rem;}

    .title h1{font-size: 1.5rem;}

    .title{width:100%; margin:5vh 0; text-align: center; height:20vh; align-items: center; height:15vh}

    .search{margin:3vh auto; padding: 0}

    .search i{margin: 0 2vw;}

    .search input[type="text"]{padding:2vh; margin:0 5vw;height: 0;}

    body{overflow-x: hidden;}

    .list-movies{width:95vw; overflow-x: scroll; margin:0 auto; display: flex;}

    .trailer{width:100%; margin-bottom: 8vh; display: flex; align-items: center; justify-content: center;}

    iframe{width:90vw; height:50.625vw ; margin:0 auto}


    
.movies{
    min-width:32vw;
    margin:2vw;
    height:46vw;
    display:block;
    border-radius: 1vw;
    background-color: orange;
    transition:.3s
}

.movies:hover{
    min-width:36vw;
    margin:2vw;
    height:49vw;
    display:block;
    border-radius: 1vw;
    background-color: orange;
    transition:.3s
}
}